.project
.pydevproject
*.pyc
venv

# counter renames
*.bak

# test outputs
test/*.event_names
test/*.names
test/*.names.unsorted
test/*.names.extra
test/counters.allocation.yaml
test/privcount.tallies.*.json
test/privcount.outcome.*.json
test/privcount.traffic.model.*.json
test/old

# these are dumped in the working directory
privcount.results.pdf
privcount.*.log
tor.pid

# generated test keys and credentials
test/keys
test/keys/*

# generated test config files
test/config.chutney.yaml.*
test/config.tor.yaml.*
test/config.yaml.*
