.project
.pydevproject
*.pyc
venv
local
pyenv
pypyenv
*.tar.gz
openssl-*
cryptowheels

# counter renames
*.bak

# counter adds
missing_counters

# test outputs
test/*.event_names
test/*.names
test/*.names.unsorted
test/*.names.extra
test/counters.allocation.yaml
test/privcount.tallies.*.json
test/privcount.outcome.*.json
test/privcount.traffic.model.*.json
test/old

# these are dumped in the working directory
privcount.results.pdf
privcount.*.log
tor.pid

# generated test keys and credentials
test/keys
test/keys/*

# generated test config files
test/config.chutney.yaml.*
test/config.tor.yaml.*
test/config.yaml.*

# downloaded test data
top-1m.csv.zip
top-1m.csv
test/top-1m.csv
test/domain-top-1m.txt
as-rank-*.html
routeviews*.pfx2as*
test/as-ipv4.ipasn
test/as-ipv6.ipasn
test/as-all.txt
test/as-ipv4.txt
test/as-ipv6.txt
test/as-sorted.txt
