# Requirements for privcount's optional compute_fractional_position_weights tool

# PrivCount uses >= to download the latest package versions
# This is particularly important for (non-backported) security fixes

# Listed versions worked with privcount when the dependency was added
numpy>=1.11.2

# stem 1.6.0 has not been released yet
#stem>=1.6.0
-e git+https://git.torproject.org/stem.git@master#egg=stem
